*, #workspaces button {
    margin-left: 1px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    font-family: "Hack Nerd Font" ;
    font-size: 18px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.0;
}

window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}


#clock, #memory, #cpu, #tray, #custom-reboot, #custom-shutdown, #custom-distro, #workspaces {
    color: #eebebe;
    background: #303446;
    border-radius: 10px;
}

#custom-distro {
    padding-right: 15px;
    color: #99d1db;
}

#custom-reboot {
    padding-right: 15px;
}

#custom-shutdown {
    padding-right: 15px;
}

#workspaces {
  padding: 0;
  padding-left: 1ex;
  padding-right: 1ex;
}

#workspaces button {
  all: initial;
  border-radius: inherit;
  background: #303446;
}

#workspaces button.active {
  background: #eebebe;
}

#workspaces button:hover {
  background: #ea999c;
}

#workspaces button.urgent {
  background: #e78284;
}
